:root {
  --primary: rgb(0, 0, 50);
  --accent: #ffc410;
  --bg: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: top;
  color: var(--bg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */

.navbar {
  position: fixed;
  display: flex;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 5%;
  transition: 0.5s;
}

.navbar.solid {
  background-color: var(--primary);
}

.navbar .navbar-logo {
  display: flex;
  align-items: center;
}

#hamburger-menu {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  display: none;
  margin-right: 0.8rem;
  padding: 0.6rem 0.8rem;
  border-radius: 1.5rem;
  background-color: var(--primary);
  transition: 0.3s;
}

#hamburger-menu:hover {
  color: var(--accent);
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
  padding: 0rem 1rem;
  border-radius: 2rem;
  background-color: var(--primary);
}

.navbar .navbar-logo span {
  color: var(--accent);
}

.navbar .navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
  transition: 0.2s;
}

.navbar .navbar-extra {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.navbar .navbar-extra a {
  color: #fff;
  margin-right: 1.5rem;
}

.navbar .navbar-extra .sign-in {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--accent);
}

/* Section */
section {
  min-height: 100vh;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .content h1 {
  font-size: 5em;
  font-style: italic;
  color: #fff;
  text-shadow: 1px 1px 10px rgba(1, 1, 3, 0.7);
}

/* Programs Section */
.programs,
.events,
.merchandise {
  padding: 8rem 7% 1.4rem;
  background-color: rgba(238, 238, 238, 0.9);
}

.programs h2,
.events h2,
.merchandise h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  max-width: max-content;
  color: var(--bg);
  font-size: 3rem;
  font-style: italic;
  background-color: var(--primary);
  padding-right: 1rem;
  padding-left: 1rem;
  box-shadow: 0.5rem 0.5rem var(--accent);
}

.programs .row,
.events .row,
.merchandise .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.programs .row .card,
.events .row .card,
.merchandise .row .card {
  background-color: var(--primary);
  box-shadow: 0rem 0rem 1rem 0.2rem rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.programs .row .card img,
.events .row .card img,
.merchandise .row .card img {
  width: 15rem;
  padding: 0.8rem;
}

.programs .row .card .card-title,
.events .row .card .card-title,
.merchandise .row .card .card-title {
  color: var(--primary);
  margin-top: 1rem auto 0.5rem;
}

.programs .row .card .card-button,
.events .row .card .card-button,
.merchandise .row .card .card-button {
  display: block;
  font-weight: 700;
  color: var(--primary);
  padding: 0.5rem;
  margin: 0rem 0.8rem 1rem;
  background-color: var(--accent);
  transition: 0.2s;
}

.programs .row .card .card-button:hover,
.events .row .card .card-button:hover,
.merchandise .row .card .card-button:hover {
  transform: scale(0.9, 0.9);
}

/* Events Section */
.events {
  background-color: rgba(255, 195, 16, 0.9);
}

.events h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  max-width: max-content;
  color: var(--accent);
  font-size: 3rem;
  font-style: italic;
  background-color: var(--primary);
  padding-right: 1rem;
  padding-left: 1rem;
  box-shadow: 0.5rem 0.5rem var(--bg);
}

/* Merchandise Section */
.merchandise {
  background-color: rgba(26, 75, 140, 0.9);
}

.merchandise h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  max-width: max-content;
  color: var(--primary);
  font-size: 3rem;
  font-style: italic;
  background-color: var(--accent);
  padding-right: 1rem;
  padding-left: 1rem;
  box-shadow: 0.5rem 0.5rem var(--bg);
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 3rem 0;
  /* margin-top: 3rem; */
}

footer .socials {
  margin: 1rem;
}

footer .socials a {
  color: var(--bg);
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links a {
  color: var(--bg);
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Modal Box */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: relative;
  background-color: var(--primary);
  color: var(--bg);
  margin: 10%;
  padding: 1.2rem;
  width: 100%;
  animation: animateModal 0.5s;
}

@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
  color: var(--accent);
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 18rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    display: block;
    align-items: normal;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 90vw;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .navbar .navbar-nav .navbar-extra {
    margin-top: 1rem;
    width: 100%;
    border-top: 0.2rem solid var(--accent);
    display: flex;
    flex-wrap: wrap;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

/* Smartphone */
@media (max-width: 640px) {
  html {
    font-size: 80%;
  }
}
